<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12913524495-04ekusiv7qh7osmjigrkee04bhmcv3nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12913524495-04ekusiv7qh7osmjigrkee04bhmcv3nu</string>
	<key>API_KEY</key>
	<string>AIzaSyBCxJV21ZtGKJhzoKRpJYdb3Tjno6BZFg0</string>
	<key>GCM_SENDER_ID</key>
	<string>12913524495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sley</string>
	<key>PROJECT_ID</key>
	<string>sleyapps-eeaaf</string>
	<key>STORAGE_BUCKET</key>
	<string>sleyapps-eeaaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12913524495:ios:a9bd88f819c9dea33a487a</string>
	<key>DATABASE_URL</key>
	<string>https://sleyapps-eeaaf.firebaseio.com</string>
</dict>
</plist>